<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-amqp="http://www.springframework.org/schema/integration/amqp"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
	xsi:schemaLocation="http://www.springframework.org/schema/integration/amqp http://www.springframework.org/schema/integration/amqp/spring-integration-amqp.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/integration/stream http://www.springframework.org/schema/integration/stream/spring-integration-stream.xsd
		http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<int-amqp:inbound-channel-adapter
		channel="inbound-channel" queue-names="myqueuename" connection-factory="connectionFactory" />

	<int:channel id="inbound-channel" />

	<int:service-activator input-channel="inbound-channel"
		ref="helloService" method="sayHello" />
	<bean id="helloService" class="name.lizhe.channeladapter.rabbitmq.MyHelloService" />


	<rabbit:connection-factory id="connectionFactory"
		username="admin" password="admin" host="172.28.128.4" port="5672"
		virtual-host="/" />

	<rabbit:template id="amqpTemplate" connection-factory="connectionFactory" />

	<rabbit:admin connection-factory="connectionFactory" />

	<rabbit:queue name="myqueuename" />

	<rabbit:direct-exchange name="myexchange ">
		<rabbit:bindings>
			<rabbit:binding queue="myqueuename" key="test" />
		</rabbit:bindings>
	</rabbit:direct-exchange>



</beans>